.container {
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
}

.nums-content {
	text-align: end;
	margin-bottom: 30px;
	min-height: 40px;
	border: 2px solid hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	border-radius: 15px;
	padding: 15px 20px;
	font-size: 24px;
}

.nums-content.result {
	font-weight: bold;
	color: green;
}

.nums-list {
	list-style: none;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	gap: 15px;
}

.nums-list-el {
	order: 1;
}

.nums-item-button {
	font-size: 24px;
	cursor: pointer;
	border-radius: 15%;
	padding: 0.75rem 1rem;
	background: wheat;
	border: none;
	margin-bottom: 0.25rem;
	width: 25vh;
	height: 10vh;
}

.nums-item-button:hover {
	opacity: 0.8;
}

.nums-item-button:active {
	box-shadow: 5px 5px 5px gray;
}
